:root {
  --active-color: #2196f3;
  --main-text-color: #000;
  --text-color: #212121;
  --main-back-color: #ffffff;
  --section-color: #2f303a;
  --address-color: #ffffff99;
  --team-back-color: #f5f4fa;
  --sub-text-color: #757575;
}
.page {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--main-back-color);
  margin: 0;
  color: var(--main-text-color);
}
.hero-title {
  font-size: 44px;
  color: var(--main-back-color);
  font-weight: 696;
  text-align: center;
}
.button {
  color: var(--main-back-color);
  background-color: var(--active-color);
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-button {
  color: var(--main-text-color);
  background-color: var(--team-back-color);
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-button:hover {
  background-color: var(--active-color);
  color: var(--main-back-color);
}
.list {
  list-style: none;
}
.text {
  margin: 10px 0 0 0;
  color: var(--sub-text-color);
  font-weight: 400;
}
.list-title {
  font-size: 14px;
  margin: 0;
  color: var(--text-color);
}
.title {
  margin: 94px 0px 50px 0px;
  font-size: 36px;
  text-align: center;
  color: var(--text-color);
}
.business-block {
  background-color: var(--section-color);
  padding: 200px 0;
}

/* --- */
.header {
  padding: 24px 0;
  background-color: var(--main-back-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}
.nav-left {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 93px;
}
.logo-1 {
  color: var(--active-color);
}
.logo-2 {
  color: var(--main-text-color);
}
.logo-3 {
  color: var(--main-back-color);
}
/* --- */
.links {
  list-style: none;
  display: flex;
  color: var(--text-color);
}
.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-right: 50px;
}
.link:hover {
  color: var(--active-color);
}
.team-block {
  background-color: var(--team-back-color);
  font-size: 16px;
}
.service-block {
  margin-bottom: 94px;
}
.stuff-card {
  background-color: var(--main-back-color);
}
.stuff-title {
  margin: 30px 0 0 0;
}
.footer {
  background-color: var(--section-color);
  padding: 60px 0;
}
.footer-link {
  margin: 9px 0 0 0;
  list-style: none;
}
.address {
  font-size: 14px;
  color: var(--address-color);
  font-size: normal;
}
.navigation {
  color: var(--main-back-color);
}
.good-title {
  margin: 20px 0 0 0;
  font-size: 18px;
}
.buttons {
  margin-top: 94px;
}
.goods {
  margin: 34px 0 94px 0;
}
